<%- include("parcials/header") %> 

<body id="secrets-body">
    <main>
      <div class="container-fluid">
        <div class="p-5 mb-4 bg-light rounded-3">
          <div class="container-fluid py-5">
            <i class="fa-solid fa-user-secret fa-5x"></i>
            <h1 class="display-5 fw-bold">It seems that you've found the secret page</h1>
          </div>
        </div>
        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <h2>Submit a secret</h2>
              <a href="/submit"><button class="btn btn-outline-light" type="button">New Secret</button></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>Sign out</h2>
              <a href="/sign-out"><button class="btn btn-outline-secondary" type="button">Here</button></a>
            </div>
          </div>
        </div>
      </div>
    </main>

<%- include("parcials/footer") %> 