<%- include("parcials/header") %>

<body id="sign-body">
  <main class="form-sign w-100 m-auto">
    <a href="/"><i class="fa-solid fa-person-walking-arrow-loop-left fa-3x return-icon"></i></a>
    <form action="/sign-in" method="post">
      <h1 class="h3 mb-3 fw-normal">Sign In</h1>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" name="signInEmail" placeholder="name@example.com" autofocus required>
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="signInPassword" placeholder="Password" required>
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-dark" type="submit"><i class="fa-solid fa-right-to-bracket"></i></button>
    </form>
    <a href="/sign-up"><span class="signup-span">Don't have an account? Sign up</span></a>
  </main>


  <%- include("parcials/footer") %>